.sidebar {
  width: 27.5%;
  padding: 1rem;
  background-color: #242424;
  height: 100vh;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
