.toggle-switch {
  display: flex;
  align-items: center;
  position: relative;
  width: 136px;
  height: 38px;
  background-color: #f2f2f2;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  box-sizing: border-box;

  .toggle-option {
    height: 100%;
    flex: 1;
    z-index: 2;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
    color: #727272;
    transition: color 0.3s ease;
    padding: 0 8px;

    &.selected {
      font-family: "metropolis-semibold",sans-serif;
      // font-weight: 600;
      color: #fff;
    }

    &.infer {
      padding-left: 4px;
    }
  }

  .toggle-slider {
    position: absolute;
    height: 30px;
    width: 64px;
    background-color: #5e7bc6;
    border-radius: 20px;
    transition: left 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;

    &.left {
      left: 4px;
    }

    &.right {
      left: calc(100% - 68px);
    }
  }
}
