.popup_wrapper {
  width: 530px;
  height: 316px;
  border-radius: 16px;
  padding: 24px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: 24px;
  margin-top: -12px;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

    .title {
      font-size: 18px;
      // font-weight: 600;
      font-family: "metropolis-semibold", sans-serif;
      line-height: 18px;
      letter-spacing: 0.01em;
      text-align: left;
    }

    img {
      height: 20px;
      width: 20px;
      cursor: pointer;
    }
  }

  .chip_section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;

    .chips {
      height: 40px;
      padding: 12px 16px;
      border-radius: 16px;
      border: 1px solid #c4c4c4;
      font-size: 16px;
      font-weight: 500;
      text-align: left;
      cursor: pointer;
      color: #333333;

      &.selected {
        background-color: #dedede;
      }
    }
  }

  .textarea_section {
    width: 100%;
    height: 112px;
    padding: 12px;
    border-radius: 16px;
    background-color: #ffffff;
    outline: none;

    &:focus-within {
      outline: 2px solid #5e7bc6;
    }

    .form_control {
      resize: none;
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
      scrollbar-width: none;
      font-size: 16px;
      font-weight: 500;

      &::placeholder {
        color: #777676;
      }
    }
  }

  .submit_button {
    width: 88px;
    height: 40px;
    padding: 12px 16px;
    border-radius: 24px;
    background-color: #969696;
    font-size: 16px;
    // font-weight: 600;
    font-family: "metropolis-semibold",sans-serif;
    color: #ffffff;
    cursor: pointer;
    cursor: not-allowed;

    // Enabled state
    &.enabled {
      background-color: #5e7bc6;
      cursor: pointer;
    }
  }
}
