.prompt_wrapper {
  margin-top: 48px;

  .title {
    font-size: 28px;
    font-family: "metropolis-semibold", sans-serif;
    line-height: 28px;
    text-align: left;
    color: #000000;
    margin-bottom: 8px;
  }

  .subtitle {
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
    color: #828282;
    margin-bottom: 32px;
  }

  .queries_part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    .query {
      font-size: 16px;
      font-weight: 500;
      line-height: 16px;
      text-align: left;
      color: #333333;
    }

    .refresh_icon {
      border-radius: 100%;
      background-color: #5e7bc6;
      height: 36px;
      width: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      .icon {
        height: 20px;
        width: 20px;
      }
    }
  }

  .card_list {
    display: flex;
    flex-wrap: wrap; /* Allow cards to wrap to the next line */
    gap: 16px; /* Gap between cards */
    justify-content: space-between; /* Evenly distribute cards across the row */
  }

  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
}
