.header_section {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px 16px 24px;
  box-shadow: 0px 4px 4px 0px #2c2c2c0d;
  background-color: #ffffff;
  margin-bottom: 28px;
  .title {
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
  }
  .icons {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    img {
      height: 24px;
      width: 24px;
    }
    .user_icon {
      border-radius: 50%;
      height: 24px;
      width: 24px;
      .rounded-circle{
        border-radius: 50%;
      }
    }
  }
}
